<header>
  <nav class="flex w-full justify-evenly items-center py-4">
    <a
      routerLink="/"
      class="text-neutral-950 text-lg font-medium ease-in duration-300 hover:text-gray-800"
      >Inicio</a
    >
    <a
      routerLink="/contacto"
      class="text-neutral-950 text-lg font-medium ease-in duration-300 hover:text-gray-800"
      >Contacto</a
    >
    <a
      routerLink="/nosotros"
      class="text-neutral-950 text-lg font-medium ease-in duration-300 hover:text-gray-800"
      >Nosotros</a
    >
  </nav>
</header>
