<header class="bg-cyan-400">
  <ul class="flex w-full justify-evenly items-center py-4">
    <li class="text-lg"><a href="/" class="text-neutral-950 font-medium ease-in duration-300 hover:text-cyan-700">Inicio</a></li>
    <li class="text-lg"><a href="/" class="text-neutral-950 font-medium ease-in duration-300 hover:text-cyan-700">Contacto</a></li>
    <li class="text-lg"><a href="/" class="text-neutral-950 font-medium ease-in duration-300 hover:text-cyan-700">Nosotros</a></li>
  </ul>
</header>
