<header class="bg-cyan-400">
  <nav>
    <a
      routerLink="/inicio"
      class="text-neutral-950 text-lg font-medium ease-in duration-300 hover:text-cyan-700"
      >Inicio</a
    >
    <a
      routerLink="/contacto"
      class="text-neutral-950 text-lg font-medium ease-in duration-300 hover:text-cyan-700"
      >Contacto</a
    >
    <a
      routerLink="/nosotros"
      class="text-neutral-950 text-lg font-medium ease-in duration-300 hover:text-cyan-700"
      >Nosotros</a
    >
  </nav>
</header>
