<section class="py-10 px-5 grid gap-5 grid-cols-1 grid-rows-6 place-content-center md:grid-cols-2 md:grid-rows-3 lg:grid-cols-3 lg:grid-rows-2">
  <pa-card
    title="Importancia del Aprendizaje"
    content="Aprender es un proceso esencial para el desarrollo humano."
  ></pa-card>
  <pa-card
    title="El Rol del Docente"
    content="Los docentes son clave en el aprendizaje de los estudiantes."
  ></pa-card>
  <pa-card
    title="Herramientas Digitales en la Educación"
    content="Las TIC son herramientas importantes para el aprendizaje en línea."
  ></pa-card>
  <pa-card
    title="Necesidad de la Investigación en Educación"
    content="La investigación permite mejorar la calidad de la educación."
  ></pa-card>
  <pa-card
    title="Importancia de la Evaluación en el Aprendizaje"
    content="La evaluación es una herramienta clave para medir el aprendizaje."
  ></pa-card>
  <pa-card
    title="Innovación Educativa"
    content="La innovación es esencial para mejorar la educación y la formación."
  ></pa-card>
</section>