<section class="py-10 px-5 grid gap-5 grid-cols-1 grid-rows-6 place-content-center md:grid-cols-2 md:grid-rows-3 lg:grid-cols-3 lg:grid-rows-2">
  <pa-card
    title="Angular: Componentes Reutilizables"
    content="Con Angular podemos crear componentes reutilizables para nuestras aplicaciones."
  ></pa-card>
  <pa-card
    title="TailwindCSS: Estilos Personalizables"
    content="Con TailwindCSS podemos personalizar los estilos de nuestros elementos de forma sencilla."
  ></pa-card>
  <pa-card
    title="Bootstrap: Plantillas Responsivas"
    content="Bootstrap nos permite crear plantillas responsivas para nuestros sitios web."
  ></pa-card>
  <pa-card
    title="Angular: Inyección de Dependencias"
    content="Con la inyección de dependencias en Angular podemos mejorar el rendimiento de nuestras aplicaciones."
  ></pa-card>
  <pa-card
    title="TailwindCSS: Clases Predefinidas"
    content="Con TailwindCSS podemos utilizar clases predefinidas para estilizar nuestros elementos."
  ></pa-card>
  <pa-card
    title="Bootstrap: Compatibilidad con Diferentes Navegadores"
    content="Bootstrap es compatible con la mayoría de los navegadores, lo que nos permite crear sitios web que funcionen bien en cualquier dispositivo."
  ></pa-card>
</section>