<div class="max-w-sm rounded-lg shadow bg-gray-800">
  <div class="p-5">
    <a href="/">
      <h5 class="mb-2 text-2xl font-bold text-gray-900 dark:text-white">
        Title
      </h5>
    </a>
    <p class="mb-5 font-normal text-gray-300">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
      eligendi, repellat ipsum corporis aperiam eveniet quia voluptatem itaque
      aliquam velit.
    </p>
    <a
      href="/"
      class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg focus:outline-none bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
    >
      Read more
    </a>
  </div>
</div>
