<section class="grid gap-5 grid-cols-3 grid-rows-2 place-content-center">
  <pa-card
    title="Título 1"
    content="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, minima, excepturi."
  ></pa-card>
  <pa-card
    title="Título 2"
    content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam."
  ></pa-card>
  <pa-card
    title="Título 3"
    content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, cupiditate tenetur sunt dicta culpa."
  ></pa-card>
  <pa-card
    title="Título 4"
    content="Lorem ipsum dolor sit amet consectetur adipisicing, elit."
  ></pa-card>
  <pa-card
    title="Título 5"
    content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus facere veritatis, ullam."
  ></pa-card>
  <pa-card
    title="Título 6"
    content="Lorem ipsum dolor sit amet consectetur adipisicing, elit. Repudiandae in fuga laudan
  tium, illo."
  ></pa-card>
</section>
