<section class="py-10 px-5 grid gap-5 grid-cols-1 grid-rows-6 place-content-center md:grid-cols-2 md:grid-rows-3 lg:grid-cols-3 lg:grid-rows-2">
  <pa-card
    title="La inteligencia artificial en los negocios"
    content="La inteligencia artificial está revolucionando la forma en que las empresas hacen negocios hoy en día."
  ></pa-card>
  <pa-card
    title="La programación como herramienta indispensable"
    content="La programación se ha convertido en una herramienta indispensable en la era digital."
  ></pa-card>
  <pa-card
    title="La seguridad en línea y cómo protegerse"
    content="La seguridad en línea es una preocupación creciente en la era digital, pero hay formas de protegerse."
  ></pa-card>
  <pa-card
    title="La importancia del análisis de datos"
    content="El análisis de datos es crucial para tomar decisiones informadas en los negocios y en la vida en general."
  ></pa-card>
  <pa-card
    title="Cómo la nube está cambiando el almacenamiento de datos"
    content="La tecnología de la nube está transformando la forma en que se almacenan y se acceden a los datos."
  ></pa-card>
  <pa-card
    title="El impacto de la tecnología en la educación"
    content="La tecnología está transformando la forma en que se aprende y se enseña en el mundo de hoy."
  ></pa-card>
</section>
